---
import { Image } from '@astrojs/image/components';
// Layout
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
// UI Components
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout title="KM Atmospheres | Inicio">
	<Header />
	<main>
		<div id="hero" class="hero">
			<div class="content">
				<h1 class="title">Reimaginando Espacios,<br /> Inspirando Mentes</h1>
				<div class="divider"></div>
				<p class="subtitle">
					Bienvenido a un mundo donde la arquitectura cobra <br />
					vida y la imaginación se convierte en realidad 
				</p>
				<Button title="MÁS SOBRE NOSOTROS" />
			</div>
		</div>
	</main>

	<div id="nosotros" class="about">
		<div class="img-container">
			<div class="indoor"></div>
		</div>
		<div class="about-content">
			<span style="display: flex; flex-direction: row; align-items: center;">
				<div class="about-div"></div>
				<p class="about-title">NOSOTROS</p>
			</span>
			<div>
				<h2 class="about-quote">CADA ESTRUCTURA <br /> CUENTA UNA HISTORIA</h2>
				<span>
					<h4 class="about-subtitle">Harmonía</h4>
					<p class="about-desc">
						Buscamos la armonía perfecta entre el entorno natural y
						la intervención humana, fusionando elementos orgánicos y 
						estructurales en una sinfonía visual que respeta y realza 
						la belleza del paisaje.
					</p>
				</span>
				<span>
					<h4 class="about-subtitle">Elegancia</h4>
					<p class="about-desc">
						La elegancia se manifiesta en cada línea y curva, en la perfecta 
						armonía entre la forma y la función, creando espacios que cautivan 
						con su refinamiento y sofisticación.
					</p>
				</span>
				<span>
					<h4 class="about-subtitle">Visión</h4>
					<p class="about-desc">
						Nos inspiramos en las posibilidades infinitas del diseño para crear 
						espacios transformadores. Nuestro enfoque visionario nos impulsa a 
						trascender lo ordinario y crear con inspiración.
					</p>
				</span>
			</div>
		</div>
	</div>

	<div id="trabajo" class="portfolio">
		<div class="portfolio-title">
			<p class="about-title">NUESTRO TRABAJO</p>
			<div style="width: 100%; height: 2px; background-color: #000"></div>
		</div>
		<Carousel />
		<div class="quote">
			<div class="quote-divider"></div>
			<h3 class="quote-text">
				“Uniendo estética y funcionalidad para crear espacios que 
				<br /> deleitan los sentidos y mejoran la calidad de vida”
			</h3>
		</div>
	</div>

	<div id="contacto" class="contact">
		<div>
			<span style="display: flex; flex-direction: row; align-items: center;">
				<div class="about-div"></div>
				<p class="about-title">CONTACTÁNOS</p>
			</span>
			<div class="form-content">
				<p class="form-title">
					¡Trabajemos juntos! <br />
					<span class="form-subtitle">Lleva tus ideas a la realidad</span>
				</p>
				<form
					action="https://formspree.io/f/mzbqqwaz"
					method="POST"
				>
					<input type="text" name="name" placeholder="Nombre" />
					<input type="email" name="email" placeholder="Correo electrónico" />
					<input type="number" name="phone" placeholder="Teléfono (opcional)" />
					<textarea name="message" maxlength="250" placeholder="Escribe aquí tu mensaje..."></textarea>
					<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 5%;">
						<Button title="ENVIAR" type={"form"} />
						<small class="btn-sub">
							O puedes escribirnos a: 
							<span style="text-decoration: underline; cursor: pointer;">
								km.atmospheres@gmail.com
							</span>
						</small>
					</div>
				</form>
			</div>
		</div>
		<div class="form-cover">
			<Image 
				class="form-img"
				src={import("../images/form_cover.webp")} 
				format="webp"
				alt="entrada" 
			/>
		</div>
	</div>
	<Footer />
</Layout>

<style>
	main {
		width: 100%;
	}
	.title {
		font-size: 4.25rem;
		font-family: 'Playfair-Bold', sans-serif;
		margin: 0;
		text-align: center;
		color: #fff;
	}
	.about-quote {
		font-size: 3rem;
		font-family: 'Playfair-Bold', sans-serif;
		margin-bottom: 2.5rem;
	}
	.subtitle {
		color: #fff;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 1px;
		font-family: 'PPTelegraf-Regular', serif;
	}
	.about-subtitle {
		font-size: 22px;
		font-family: 'PPTelegraf-UltraBold', serif;
	}
	.hero {
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100vh;
		width: '100%';
		background-image: url('../images/hero_img.webp'); 
		background-size: cover;
		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 200vh;
	}
	.divider {
		height: 2px;
		width: 40%;
		margin: 2rem 0 1rem 0;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
	.quote-divider {
		height: 2px;
		width: 20%;
		margin: 2rem 0 1rem 0;
		justify-content: center;
		align-items: center; 
		background-color: #000
	}
	.about {
		display: grid;
		grid-template-columns: 45% 55%;
		align-items: center;
	}
	.about-title {
		font-size: 16px;
		letter-spacing: 0.35px;
		font-family: 'PPTelegraf-Regular', serif;
	}
	.about-desc {
		font-size: 18px; 
		line-height: 1.65rem;
		font-weight: 200;
		font-family: 'Poppins-Light', sans-serif;
	}
	.img-container {
		width: 550px;
		height: 750px;
		margin: 80px 50px 80px 50px;
	}
	.indoor {
		width: 100%;
		height: 100vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/indoor.webp'); 
	}
	.about-content {
		display: flex;
		flex-direction: column;
		margin: 80px 5% 80px 0;
		padding-right: 25%;
	}
	.about-div {
		height: 2px; 
		width: 60px;
		background-color: #000;
		margin-right: 12px;
	}
	.portfolio {
		margin: 5% 0 5% 0
	}
	.portfolio-title {
		margin: 0 2.5% 0 2.5%
	}
	.quote {
		display: flex; 
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
		margin: 2.5% 5% 2.5% 5%;
	}
	.quote-text {
		color: #000; 
		font-size: 28px;
		letter-spacing: 0.35px;
		text-align: center;
		font-family: 'Playfair-Bold', sans-serif;;
	}
	.contact {
		display: grid;
		grid-template-columns: 50% 50%;
		margin: 10% 0 0 2.5%;
	}
	.form-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 55%;
		margin: 10% 20% 0 20%;
		height: 70vh;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.form-img {
		width: 100%;
		height: 100%;
		filter: brightness(0.8);
		object-fit: cover;
		background-size: cover;
	}
	.form-cover {
		height: 100vh; 
		width: 100%;
	}
	.form-title {
		font-size: 27px;
		font-family: 'PPTelegraf-UltraBold', serif;
	}
	.form-subtitle {
		font-size: 17px;
		font-family: 'PPTelegraf-Regular', serif;
	}
	.btn-sub {
		font-size: 12px; 
		text-align: center; 
		margin-top: 16px;
		font-family: 'PPTelegraf-Regular', serif;
	}
	input, textarea {
		background-color: transparent;
		border-bottom: 1.5px solid #000;
		border-top: none;
		border-left: none;
		border-right: none;
		padding: 15px 0 15px 0;
		margin-bottom: 10%;
		font-size: 15px;
	}
	input {
		font-family: 'Montserrat', sans-serif;
	}
	::placeholder {
		color: #909090;
	}
	textarea {
		font-family: 'Montserrat', sans-serif;
		padding: 20px 0 36px 0;
		resize: none;
		max-lines: 2;
	}
	:focus {
		outline: none;
	}
	@media (min-width: 280px) and (max-width: 649px) {
    .hero {
        background-image: url('../../images/hero_mobile_img.webp');
    }
	.content {
		height: 100vh;
		margin-top: 15%;
	}
    .title {
        font-size: 2rem;
        font-family: 'Playfair-Bold', sans-serif;
        margin: 0;
        text-align: center;
        color: #fff;
    }
    .subtitle {
        color: #fff;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.5px;
		margin: 2.5% 5% 2.5% 5%;
    }
	.about {
		display: flex;
		flex-direction: column-reverse;
	}
	.indoor {
		width: 100%;
		height: 250px;
		background-image: url('../../images/outdoor.webp'); 
		background-size: contain;
	}
	.img-container {
		width: 90%;
		height: 250px;
		margin: 50px 2.5% 50px 2.5%;
	}
	.about-title {
		font-size: 14px;
		letter-spacing: 0.35px;
		font-family: 'PPTelegraf-Regular', serif;
	}
	.about-subtitle {
		font-size: 18px;
	}
	.about-quote {
		font-size: 30px;
		font-family: 'Playfair-Bold', sans-serif;
		margin-bottom: 2.5rem;
	}
	.about-desc {
		font-size: 12px; 
		line-height: 1.25rem;
		font-weight: 200;
		font-family: 'Poppins-Light', sans-serif;
	}
	.about-content {
		display: flex;
		flex-direction: column;
		margin: 80px 5% 0 5%;
		padding-right: 0;
	}
	.about-div {
		height: 2px; 
		width: 60px;
		background-color: #000;
		margin-right: 12px;
		margin-left: 2.5%;
	}
	.portfolio {
		margin: 15% 0 15% 0
	}
	.portfolio-title {
		margin: 0 2.5% 10% 2.5%
	}
	.contact {
		display: flex;
		flex-direction: column;
		margin: 20% 2.5% 20% 2.5%;
	}
	.form-content {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 10% 10% 0 10%;
	}
	.form-title {
		font-size: 23px;
	}
	.form-subtitle {
		font-size: 16px;
	}
	.form-img {
		display: none;
	}
	.quote-divider {
		height: 2px;
		width: 33.33%;
		margin: 2rem 0 0.5rem 0;
	}
	.quote-text {
		width: 80%;
		font-size: 18px;
		letter-spacing: 0.1px;
	}
	.form-cover {
		display: none;
	}
	.btn-sub {
		font-size: 11px; 
	}
}

@media (min-width: 650px) and (max-width: 1149px) {
    .hero {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
        width: '100%';
        background-image: url('../../images/hero_img.webp');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title {
        font-size: 3rem;
        font-family: 'Playfair-Bold', sans-serif;
        margin: 0;
        text-align: center;
        color: #fff;
    }
    .subtitle {
        color: #fff;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-family: 'PPTelegraf-Regular', serif;
    }
	.about {
		display: grid;
		grid-template-columns: 55% 45%;
		align-items: flex-start;
	}
	.about-title {
		font-size: 14px;
		letter-spacing: 0.35px;
		font-family: 'PPTelegraf-Regular', serif;
	}
	.about-quote {
		font-size: 2rem;
	}
	.about-subtitle {
		font-size: 18px;
	}
	.about-desc {
		font-size: 15px; 
		line-height: 1.5rem;
	}
	.about-content {
		margin: 80px 2.5% 0 2.5%;
		padding-right: 5%;
	}
	.img-container {
		width: 90%;
		height: 750px;
		margin: 80px 25px 80px 25px;
	}
	.indoor {
		width: 100%;
		height: 100vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../../images/indoor.webp'); 
	}
	.quote-divider {
		width: 20%;
		margin: 2rem 0 0.5rem 0;
	}
	.quote-text {
		width: 80%;
		font-size: 20px;
		letter-spacing: 0.1px;
	}
	.form-content {
		display: flex;
		flex-direction: column;
		width: 70%;
		margin: 10% 10% 0 10%;
	}
	.form-title {
		font-size: 22px;
	}
	.form-subtitle {
		font-size: 15px;
	}

	.btn-sub {
		font-size: 10px; 
	}
}
@media (min-width: 1150px) and (max-width: 1399px){
	.about {
		grid-template-columns: 50% 50%;
		align-items: flex-start;
	}
	.about-title {
		font-size: 16px;
	}
	.about-quote {
		font-size: 2.85rem;
	}
	.about-subtitle {
		font-size: 22px;
	}
	.about-desc {
		font-size: 18px; 
		line-height: 1.75rem;
	}
	.about-content {
		margin: 80px 2.5% 0 2.5%;
		padding-right: 10%;
	}
	.img-container {
		width: 90%;
		height: 750px;
		margin: 80px 25px 80px 25px;
	}
}
</style>

