---
// Layout
import Footer from '../layouts/Footer.astro';
// UI Components
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout title="KM Atmospheres | Inicio">
	<main>
		<div id="hero" class="hero">
			<div class="content">
				<h1>Reimaginando Espacios,<br /> Inspirando Mentes</h1>
				<div class="divider"></div>
				<h3>
					Bienvenido a un mundo donde la arquitectura cobra <br />
					vida y la imaginación se convierte en realidad 
				</h3>
				<Button title="Más sobre nosotros" />
			</div>
		</div>
	</main>

	<div id="nosotros" class="about">
		<div class="img-container">
			<img class="indoor" src="../../public/images/indoor.jpg" />
		</div>
		<div class="about-content">
			<span style="display: flex; flex-direction: row; align-items: center;">
				<div class="about-div"></div>
				<p style="font-size: 16">NOSOTROS</p>
			</span>
			<div>
				<h2>CADA ESTRUCTURA <br /> CUENTA UNA HISTORIA</h2>
				<span>
					<h4>Harmonía</h4>
					<p style="font-size: 18px; line-height: 1.65rem;">
						Buscamos la armonía perfecta entre el entorno natural y
						la intervención humana, fusionando elementos orgánicos y 
						estructurales en una sinfonía visual que respeta y realza 
						la belleza del paisaje.
					</p>
				</span>
				<span>
					<h4>Elegancia</h4>
					<p style="font-size: 18px; line-height: 1.65rem;">
						La elegancia se manifiesta en cada línea y curva, en la perfecta 
						armonía entre la forma y la función, creando espacios que cautivan 
						con su refinamiento y sofisticación.
					</p>
				</span>
				<span>
					<h4>Visión</h4>
					<p style="font-size: 18px; line-height: 1.65rem;">
						Nos inspiramos en las posibilidades infinitas del diseño para crear 
						espacios transformadores. Nuestro enfoque visionario nos impulsa a 
						trascender lo ordinario y crear con inspiración.
					</p>
				</span>
			</div>
		</div>
	</div>

	<div id="trabajo" style="margin: 5% 0 5% 0">
		<div style="margin: 0 2.5% 0 2.5%">
			<p style="font-size: 16">NUESTRO TRABAJO</p>
			<div style="width: 100%; height: 2px; background-color: #000"></div>
		</div>
		<Carousel />
		<div class="quote">
			<div class="divider" style="width: 20%; background-color: #000"></div>
			<h3 style="color: #000; font-size: 25px; font-weight: 500">
				“Uniendo estética y funcionalidad para crear espacios que 
				<br /> deleitan los sentidos y mejoran la calidad de vida”
			</h3>
		</div>
	</div>

	<div id="contacto" class="contact">
		<div>
			<span style="display: flex; flex-direction: row; align-items: center;">
				<div class="about-div"></div>
				<p style="font-size: 16">CONTACTÁNOS</p>
			</span>
			<div class="form-content">
				<p style="font-size: 27px; font-weight: 800">
					¡Trabajemos juntos! <br />
					<span style="font-size: 17px; font-weight: 300;">Lleva tus ideas a la realidad</span>
				</p>
				<form>
					<input type="text" placeholder="Nombre" />
					<input type="text" placeholder="Correo electrónico" />
					<input type="number" placeholder="Teléfono (opcional)" />
					<textarea maxlength="240" placeholder="Escribe aquí tu mensaje..."></textarea>
					<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 5%;">
						<Button title="Enviar" type={"form"} />
						<small style="font-size: 11.5px; text-align: center; margin-top: 16px">
							O puedes escribirnos a: 
							<span style="text-decoration: underline; cursor: pointer;">
								km.atmospheres@gmail.com
							</span>
						</small>
					</div>
				</form>
			</div>
		</div>
		<div style="height: 100vh; width: 100%">
			<img 
				width="100%"
				height="100%"
				class="form-img"
				src={"../../public/images/form_cover.jpg"} 
				alt="entrada" 
			/>
		</div>
	</div>
	<Footer />
</Layout>

<style>
	main {
		width: 100%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color: #fff;
	}
	h2 {
		font-size: 45px;
		font-weight: 800;
		margin-bottom: 2.5rem;
	}
	h3 {
		color: #fff;
		text-align: center;
		font-weight: 400;
	}
	h4 {
		font-size: 22px;
		font-weight: 600;
	}
	.hero {
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100vh;
		width: '100%';
		background-image: url('../../public/images/hero_img.jpg');
		background-size: cover;
		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 200vh;
	}
	.divider {
		height: 2px;
		width: 50%;
		margin: 2rem 0 1rem 0;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
	.about {
		display: grid;
		grid-template-columns: 45% 55%;
		align-items: center;
	}
	.img-container {
		width: 550px;
		height: 750px;
		margin: 80px 50px 80px 50px;
	}
	.indoor {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.about-content {
		height: 90vh;
		display: flex;
		flex-direction: column;
		margin: 80px 5% 80px 0;
		padding-right: 25%;
	}
	.about-div {
		height: 2px; 
		width: 60px;
		background-color: #000;
		margin-right: 12px;
	}
	.quote {
		display: flex; 
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
		margin-top: 5%;
	}
	.contact {
		display: grid;
		grid-template-columns: 50% 50%;
		margin: 5% 0 0 2.5%;
	}
	.form-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 55%;
		margin: 10% 20% 0 20%;
		height: 70vh;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.form-img {
		filter: brightness(0.8);
		object-fit: cover;
		background-size: cover;
	}
	input, textarea {
		background-color: transparent;
		border-bottom: 1.5px solid #000;
		border-top: none;
		border-left: none;
		border-right: none;
		padding: 15px 0 15px 0;
		margin-bottom: 10%;
		font-size: 15px;
	}
	input {
		font-family: 'Montserrat', sans-serif;
	}
	::placeholder {
		color: #909090;
	}
	textarea {
		font-family: 'Montserrat', sans-serif;
		padding: 20px 0 36px 0;
		resize: none;
		max-lines: 2;
	}
	:focus {
		outline: none;
	}
</style>
