---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="km atmospheres">
	<main>
		<div class="hero">
			<div class="content">
				<h1>Reimaginando Espacios,<br /> Inspirando Mentes</h1>
				<div class="divider"></div>
				<h3>
					Bienvenido a un mundo donde la arquitectura cobra <br />
					vida y la imaginación se convierte en realidad 
				</h3>
				<Button title="Más sobre nosotros" type="hero" />
			</div>
		</div>
	</main>

	<div>
		<h2>Cada Esctructura <br /> Cuenta una historia</h2>
	</div>
</Layout>

<style>
	main {
		width: 100%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color: #fff;
	}
	h3 {
		color: #fff;
		text-align: center;
		font-weight: 400;
	}
	.hero {
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100vh;
		width: '100%';
		background-image: url('../../public/images/hero_img.jpg');
		background-size: cover;
		background-attachment: fixed;
  		background-position: center;
  		background-repeat: no-repeat;
	}
	.hero > .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.divider {
		height: 2px;
		width: 50%;
		margin: 2rem 0 1rem 0;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
</style>
