---
export interface Props {
	title: string;
    type?: 'hero' | 'form';
}

const { title, type } = Astro.props;
---

<>
    {
        type === 'form' 
        ? (
            <button class={'black-btn'}>
                {title}
            </button>
        ) 
        : (
            <a href="#nosotros">
                <button class={'hero-btn'}>
                    {title}
                </button>    
            </a>
        )
    }
</>

<style>
    a {
        text-decoration: none;
    }
    a:focus {
        outline: 0;
    }
    a:hover{
        outline: 0;
    }
    .hero-btn {
        width: 220px;
        height: 50px;
        background: rgba(255, 255, 255, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        font-size: 18;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-family: 'PPTelegraf-UltraBold', sans-serif;
        font-size: 0.9rem;
        color: #fff;
        cursor: pointer;
    }
    .black-btn {
        width: 100%;
        height: 58px;
        background: #000000;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
        font-size: 1.25rem;
        font-family: 'PPTelegraf-UltraBold', sans-serif;
    }

    /* Media Queries */
    @media (min-width: 280px) and (max-width: 649px){
        .hero-btn {
            width: 200px;
            height: 50px;
            font-size: 0.8rem;
            margin-top: 25%;
        }
        .black-btn {
            width: 100%;
            height: 50px;
            font-size: 1rem;
        }
    }
    @media (min-width: 650px) and (max-width: 1149px){
        .hero-btn {
            width: 210px;
            height: 52px;
            font-size: 0.825rem;
            margin-top: 10%;
        }
        .black-btn {
            width: 100%;
            height: 47px;
            font-size: 0.9rem;
        }
    }
</style>