---
export interface Props {
	title: string;
    type?: 'hero' | 'form';
}

const { title, type } = Astro.props;
---

<button class={type === 'form' ? 'black' : 'hero'}>
    {title}
</button>

<style>
    .hero {
        width: 220px;
        height: 50px;
        background: rgba(255, 255, 255, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        font-size: 18;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-family: 'PPTelegraf-UltraBold', sans-serif;
        font-size: 0.9rem;
        color: #fff;
        cursor: pointer;
    }
    :hover{
        background: rgba(255, 255, 255, 0.6);
    }
    .black {
        width: 100%;
        height: 58px;
        background: #000000;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
        font-size: 1.25rem;
        font-family: 'PPTelegraf-UltraBold', sans-serif;
    }
</style>