

<div id="carousel-1" class="container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <img src={'../../public/images/gallery/001.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/002.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/003.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/004.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/005.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/006.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/007.jpg'} />
            </li>
        </ul>
    </div>
</div>

<div id="carousel-2" class="container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <img src={'../../public/images/gallery/007.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/006.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/005.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/008.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/003.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/002.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/001.jpg'} />
            </li>
        </ul>
    </div>
</div>

<div id="carousel-3" class="container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <img src={'../../public/images/gallery/009.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/006.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/007.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/008.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/001.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/004.jpg'} />
            </li>
            <li class="glide__slide">
                <img src={'../../public/images/gallery/005.jpg'} />
            </li>
        </ul>
    </div>
</div>

<style>
    img {
        width: 270px;
        height: 390px;
    }

    .container {
        margin-top: 2%;
    }

    /* Media Queries */
    @media (min-width: 280px) and (max-width: 649px) {
        img {
            width: 125px;
            height: 185px;
        }

        .container {
            margin-top: 5%;
        }
    }

    @media (min-width: 650px) and (max-width: 1149px) {
        img {
            width: 200px;
            height: 280px;
        }

        .container {
            margin-top: 5%;
        }
    }
</style>

<script>
    import Glide from '@glidejs/glide'

    const width = window.innerWidth;

    new Glide('#carousel-1', {
        type: 'carousel',
        startAt: 0,
        perView: width < 550 ? 3 : width > 550 && width < 1149 ? 4 : 5,
        autoplay: 2100,
        hoverpause: false,
        animationDuration: 800,
        animationTimingFunc: 'ease-in-out',
    }).mount()

    new Glide('#carousel-2', {
        type: 'carousel',
        startAt: 0,
        perView: width < 550 ? 3 : width > 550 && width < 1149 ? 4 : 5,
        autoplay: 2300,
        hoverpause: false,
        direction: 'rtl',
        animationDuration: 800,
        animationTimingFunc: 'ease-in-out',
    }).mount()

    new Glide('#carousel-3', {
        type: 'carousel',
        startAt: 0,
        perView: width < 550 ? 3 : width > 550 && width < 1149 ? 4 : 5,
        autoplay: 2500,
        hoverpause: false,
        animationDuration: 800,
        animationTimingFunc: 'ease-in-out',
    }).mount()
</script>