---
import { Image, Picture } from '@astrojs/image/components';
---

<div id="carousel-1" class="container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_01.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_02.webp')}  format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_03.webp')}  format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_04.webp')}  format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_05.webp')}  format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_06.webp')} format="webp" alt="image"  />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_07.webp')}  format="webp" alt="image"  />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_08.webp')} format="webp" alt="image"  />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_09.webp')}  format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_1/CASA_A_10.webp')}  format="webp" alt="image" />
            </li>
        </ul>
    </div>
</div>

<div id="carousel-2" class="container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_01.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_02.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_03.webp')} format="webp" alt="image"  />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_04.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_05.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_06.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_07.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_08.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_09.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_2/CASA_B_10.webp')}format="webp" alt="image" />
            </li>
        </ul>
    </div>
</div>

<div id="carousel-3" class="container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_01.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_02.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_03.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_04.webp')} format="webp" alt="image"  />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_05.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_06.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_07.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_08.webp')} format="webp" alt="image" />
            </li>
            <li class="glide__slide">
                <Image class="img" src={import('../images/gallery/ROW_3/CASA_C_09.webp')} format="webp" alt="image" />
            </li>
        </ul>
    </div>
</div>

<style>
    .img {
        width: 270px;
        height: 390px;
    }

    .container {
        margin-top: 2%;
    }

    /* Media Queries */
    @media (min-width: 280px) and (max-width: 649px) {
        .img {
            width: 125px;
            height: 185px;
        }

        .container {
            margin-top: 5%;
        }
    }

    @media (min-width: 650px) and (max-width: 1149px) {
        .img {
            width: 200px;
            height: 280px;
        }

        .container {
            margin-top: 5%;
        }
    }
</style>

<script>
    import Glide from '@glidejs/glide'
    const width = window.innerWidth;

    window.addEventListener('load', () => {
            new Glide('#carousel-1', {
            type: 'carousel',
            startAt: 0,
            perView: width < 550 ? 3 : width > 550 && width < 1149 ? 4 : 5,
            autoplay: 2100,
            hoverpause: false,
            animationDuration: 800,
            animationTimingFunc: 'ease-in-out',
        }).mount()
    })

    window.addEventListener('load', () => {
        new Glide('#carousel-2', {
            type: 'carousel',
            startAt: 0,
            perView: width < 550 ? 3 : width > 550 && width < 1149 ? 4 : 5,
            autoplay: 2300,
            hoverpause: false,
            direction: 'rtl',
            animationDuration: 800,
            animationTimingFunc: 'ease-in-out',
        }).mount()
    })

    window.addEventListener('load', () => {
        new Glide('#carousel-3', {
            type: 'carousel',
            startAt: 0,
            perView: width < 550 ? 3 : width > 550 && width < 1149 ? 4 : 5,
            autoplay: 2500,
            hoverpause: false,
            animationDuration: 800,
            animationTimingFunc: 'ease-in-out',
        }).mount()
    })
</script>