
<footer id="footer">
   <div class="container">
    <img 
        width="160"
        height="120"
        src="../../public/images/logo.png" 
    />
    <div class="ico-container">
        <a href="mailto:km.atmospheres@gmail.com">
            <img class="icon" width="28" height="28" src="../../public/images/email_icon.png" />
        </a>
        <a href="https://instagram.com">
            <img class="icon" width="30" height="30" src="../../public/images/instagram_icon.png" />
        </a>
    </div>
   </div>
   <div class="text">
    <div class="info">
        <span>
            <p class="section">Contacto</p>
            <p>km.atmospheres@gmail.com</p>
            <p>+52 477 123 456</p>
        </span>
        <span>
            <p class="section">Ubicación</p>
            <p>Agregar Ubicación</p>
        </span>
    </div>
    <small>KM Atmospheres ©2023</small>
   </div>
</footer>

<style>
    footer {
        bottom: 0;
        width: 100%;
        height: 250px;
        display: flex;
        padding: 10px 0 10px 0;
        background-color: #FAF8F6;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        padding: 20px 0 15px 20px;
    }
    .text {
        width: 70%;
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0 15px 0;
    }
    .section {
        font-size: 20px;
        font-weight: 800;
    }
    p {
      font-size: 1rem;
      font-weight: 200;  
    }
    .info {
        display: flex;
        justify-content: space-around;
    }
    small {
        font-size: 0.85rem;
        font-weight: 300;
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }
    .ico-container {
        display: flex;
        align-items: center;
        margin-left: 10%;
        padding: 10px 0 10px 0;
    }
    .icon {
        border: 2px solid #000;
        border-radius: 50%;
        padding: 7px;
        margin: 0 5px 0 5px;
    }
</style>