---
// TODO: Build header comp.
---

<header id="head">
    <div style="cursor: pointer;">
        <img src="../../public/images/logo_white.png" />
    </div>
    <div class="links">
        <a href="#nosotros">NOSOTROS</a>
        <a href="#trabajo">NUESTRO TRABAJO</a>
        <a href="#contacto">CONTACTANOS</a>
    </div>
</header>

<style>
    header {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        padding: 1.75% 2.5% 1.75% 2.5%;
        background-color: transparent;
    }
    img {
        width: 135px;
        height: 100px;
        object-fit: contain;
    }
    .links {
        width: 32%;
        padding: 20px 10px 20px 10px;
        display: flex;
        justify-content: space-between;
    }
    a {
        font-size: 16px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #fff;
    }
    :hover {
        color: rgb(255, 255, 255, 0.7);
    }
</style>