---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="../../public/images/logo.png" />
		<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		margin: 0;
		background-color: #F5EEE8;
		overflow-x: hidden;
	}
	@font-face {
  		font-family: "Playfair-SemiBold";
  		src: url("/fonts/PlayFair/Playfair_SemiBold.ttf");
  		font-weight: 600;
  		font-style: normal;
  		font-display: swap;
	}
	@font-face {
  		font-family: "Playfair-Bold";
  		src: url("/fonts/PlayFair/Playfair_Bold.ttf");
  		font-weight: 800;
  		font-style: normal;
  		font-display: swap;
	}
	@font-face {
  		font-family: "PPTelegraf-Regular";
  		src: url("/fonts/PlayFair/PPTelegraf-Regular.otf");
  		font-weight: 400;
  		font-style: medium;
  		font-display: swap;
	}
	@font-face {
  		font-family: "PPTelegraf-UltraBold";
  		src: url("/fonts/PlayFair/PPTelegraf-UltraBold.otf");
  		font-weight: 800;
  		font-style: normal;
  		font-display: swap;
	}
	@font-face {
  		font-family: "Poppins-Regular";
  		src: url("/fonts/PlayFair/Poppins-Regular.ttf");
  		font-weight: 400;
  		font-style: normal;
  		font-display: swap;
	}
	@font-face {
  		font-family: "Poppins-Light";
  		src: url("/fonts/PlayFair/Poppins-Light.ttf");
  		font-weight: 200;
  		font-style: normal;
  		font-display: swap;
	}
</style>
